{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Cranberry</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/roslibjs/build/roslib.js' %}"></script>-->
    <script src="{% static 'js/scripts.js' %}"></script>

</head>

<body>
    <header id=header>
        <div class="app_title">Cranberry</div>
        <nav>
            <ul class="nav__links">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <!-- Light Card -->
        <card class="light_card">
            <div class="card_title">Light</div>
            <div class="card_content">
                <div class="light_box">
                    <div id="light_01" class="lamp">0</div>
                    <div id="label" class="label">living room</div>
                </div>
                <div class="light_box">
                    <div id="light_02" class="lamp">0</div>
                    <div id="label" class="label">kitchen</div>
                </div>
                <div class="light_box">
                    <div id="light_03" class="lamp">0</div>
                    <div id="label" class="label">bathroom</div>
                </div>
                <div class="light_box">
                    <div id="light_04" class="lamp">0</div>
                    <div id="label" class="label">private room</div>
                </div>
            </div>
        </card>
        <card class="temp_humid_card">
            <div class="card_title">A/C</div>
            <div class="card_content">
                <div class="ac_box">
                    <div id="temp" class="ac">25°C</div>
                    <div id="label" class="label">Temperature</div>
                </div>
                <div class="ac_box">
                    <div id="humid" class="ac">60%</div>
                    <div id="label" class="label">humidity</div>
                </div>
        </card>
    </div>
</body>

</html>